<!DOCTYPE html>
<html>
<head>
    <title>Fiber Network Design</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">
    <h1>🌐 Fiber Network Design</h1>
    <p class="subtitle">Kruskal Minimum Spanning Tree</p>

    <div class="card">
        <label>Enter Input</label>

        <textarea id="input" rows="10">
4 5
Hospital School Mall Office
Hospital School 10
Hospital Mall 6
Hospital Office 5
School Office 15
Mall Office 4
        </textarea>

        <button onclick="runAlgo()">Run Algorithm</button>
    </div>

    <div class="output-card">
        <h2>Output</h2>
        <pre id="output">Run the algorithm to see output...</pre>
    </div>
</div>

<script>
async function runAlgo() {
    let raw = document.getElementById("input").value.trim().split("\n");

    let first = raw[0].split(" ");
    let n = parseInt(first[0]);

    let locations = raw[1].split(" ");

    let edges = [];
    for (let i = 2; i < raw.length; i++) {
        let [u, v, w] = raw[i].split(" ");
        edges.push([u, v, parseInt(w)]);
    }

    let res = await fetch('/run', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({ n, locations, edges })
    });

    let data = await res.json();
    document.getElementById("output").innerText = data.output;
}
</script>

</body>
</html>
