<!DOCTYPE html>
<html>
<head>
    <title>Fiber Network Design</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<h1>🌐 Fiber Network Design (Kruskal MST)</h1>

<div class="card">
    <label>Enter Input:</label>
    <textarea id="input" rows="10">
4 5
Hospital School Mall Office
Hospital School 10
Hospital Mall 6
Hospital Office 5
School Office 15
Mall Office 4
    </textarea>

    <button onclick="runAlgo()">Run Algorithm</button>
</div>

<h2>Output:</h2>
<pre id="output"></pre>

<script>
async function runAlgo() {
    let input = document.getElementById("input").value;

    let res = await fetch('/run', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({ input: input })
    });

    let data = await res.json();
    document.getElementById("output").innerText = data.output;
}
</script>

</body>
</html>
